* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  min-height: 100vh;
}

h1, h2 {
  color: #333;
  margin-bottom: 20px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #fff;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-section-fle {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 auto 20px auto;
  border: #80817d 2px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type="file"],
input[type="submit"] {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: #1e40af 1px solid;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: 10px auto;
}

button {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background: #1e40af;
}
